.App {
  margin: 0;
  font-family: 'Arial';
  background-color: #F4F9E9;
}
/* Color:https://coolors.co/b4b8ab-153243-284b63-f4f9e9-eef0eb */
/* Main Header */
.main-header {
  overflow: hidden;
  justify-content: center;
  display:inline-block;
  width: 100%;
  background-color: #153243;
}
#home-button{
  color:#EEF0EB;
  float:left;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #153243;
  background-color: #153243;
}
.#home-button :hover {
  background-color: #b4b8ab;
  border: 1px solid #b4b8ab;
}
#main-title{
  color:#EEF0EB;
  text-align:center;
}

/* Create Event Area */
.create-event-area{
  margin: 10px;
  text-align:center;
}
#create-event-button{
  background: #284B63;
  color:#EEF0EB;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #EEF0EB;
  border-radius: 5px;
  padding: 5px 10px;
  width: 50%;
}
#create-event-button:hover {
  background-color: #b4b8ab;
}

/* for home page cards see cards.css */