/* attached to eventCard */
/* Home Page Volunteer Grids */
.events-elements-grid{
    background-color:#284B63;
    color:#EEF0EB;
    border: 1px solid #EEF0EB;
    cursor: pointer;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 100px 100px 100px;
  }
#cards{
    text-align:center;
    border-style: solid;
    border:1px solid #EEF0EB;
    border-color:#284B63;
    padding: 5px 10px;
    justify-content: space-around;
    width: 100%;
    background-color: #153243;
}
#cards button{ 
    width: 100px;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #284B63;
    background-color: #EEF0EB;
    color:#284B63;
}