/* attached to eventCard */
/* Home Page Volunteer Grids */
#card-section{
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
  }
.events-elements-grid{
    background-color:#284B63;
    color:#EEF0EB;
    border: 1px solid #EEF0EB;
    cursor: pointer;
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 1fr 50% 1fr;
}
#cards{
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 50px;
    border-style: solid;
    border:1px solid #EEF0EB;
    border-color:#284B63;
    padding: 5px 10px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: #153243;
    align-items: center;
}
#cards button{ 
    width: 100px;
    cursor: pointer;
    padding: 5px 5px; 
    border-radius: 5px;
    border: 1px solid #284B63;
    background-color: #EEF0EB;
    color:#284B63;
    grid-row-start: 2;
}