/* header located at 'return' */
.event-details-header{
    text-align:center;
}
/* event details page */
.ifEventExist{
    text-align:left;
    /* justify-content: center; */
    /* display:block; */
    padding: 30px;
    grid-column-start: 2;
}
.ifEventExist div{
    margin-bottom: 10px;
}
#event-name{
    margin-top: 0;
    color: #153243;
    font-size: xx-large;
    text-align: center;
}
#event-description{
   
}
#event-start{

}
#event-end{

}
/* formatting */
.formatting{
    display:flex;
    grid-column-start: 2;
}
/* form */
.join-event-form{
    grid-auto-rows: minmax(min-content, max-content);
    background-color: #B4B8AB;
    margin:0px;
    padding:20px 0px;
    display:grid;
    place-items:center;
    flex-direction:column;
    text-align:center;
    flex-wrap: wrap;
    width:50%;
    border-radius: 15px 0px 0px 0px;
}
.join-event-form input{
    border-radius: 5px;
    padding: 5px 5px;
    border: 5px 5px;
    cursor: pointer;
    width:40%;
}
#submit-btn{
    background: #284B63;
    color:#EEF0EB;
    border: 1px solid #284B63;
    font-size: 18px;
    border-radius: 5px;
    margin-top:20px;
    padding: 5px 10px;
    cursor: pointer;
    width:40%;
}
#submit-btn:hover {
    background-color: #b4b8ab;
  }
/* list of people who signed up  */
.listpeoplename{
    background-color: #284B63;
    color: #EEF0EB;
    width:50%;
    padding: 10px;
    display:grid;
    text-align:center;
    place-items:center;
    float:right;
    wrap: wrap;
    grid-auto-rows: minmax(min-content, max-content);
    border-radius: 0px 15px 0px 0px;


}